@charset "utf-8";
/* CSS Document */

body {
    font-family: 'Monda', sans-serif;
    font-size: 1em;
}

header {
    width: 78%;
    height: 4em;
    margin: 1em auto;
    background-image: url(../img/Imtech_logo.jpg);
    background-repeat: no-repeat;
}

#top a figure {
    display: inline;
}

#login {
    float: right;
}

.input {
    position: relative;
    display: inline;
}

#identifiername {
    float: right;
    display: inline-block;
    margin: 0.2em 0.5em 0 0;
}

#identifiername a {
    color: #064885;
    text-decoration: none;
}

#identifierpic {
    float: right;
    margin: 0;
    height: 30px;
    width: 30px;
}

#mainnav {
    position: absolute;
    width: 100%;
    height: 3em;
    /*background-image: url(../img/ui-navi.png);*/
    
    background-color: #064885;
    margin: 0 auto;
    z-index: -1;
}

#allign {
    width: 78%;
    height: 3em;
    margin: 0 auto;
}

nav #full {
    position: absolute;
    display: block;
    width: 78%;
    min-width: 40em;
    height: 3em;
    padding: 0;
    margin: 0;
}

nav #small {
    display: none;
}

nav ul li {
    display: inline-block;
    height: 1.8em;
    margin: 0.4em 3%;
}

nav ul a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
}

#searchwrap {
    right: 11%;
    display: block;
    position: absolute;
    width: 13em;
    height: 1.5em;
    padding: 0.7em;
    margin-top: 0.5em;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url(../img/edit1.png);
}

input#searchfield {
    width: 8.3em;
    height: 1.3em;
}

input#searchbutton {
    float: right;
    display: block;
    background-color: #064885;
    color: hsla(0, 0%, 100%, 1);
    border: none;
    overflow: hidden;
    cursor: pointer;
    height: 1.5em;
    width: 4em;
    margin-top: 2px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    background-color: #064885;
    color: #FFFFFF;
}

#absolute {
    position: absolute;
    height: 79em;
    width: 100%;
    background-image: url(../img/edit1.png);
    opacity: 0.8;
    z-index: 9999;
}

#container {
    width: 76%;
    margin: 0 auto;
    padding: 1%;
    overflow: auto;
    background-image: url(../img/edit1.png);
}

.title {
    color: #064885;
    font-size: 1.8em;
}

.blocks {
    font-size: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    padding: 1%;
    background-color: #FFF;
    overflow: auto;
    box-shadow: inset 0px -2px 12px -2px #ABABAB, -6px 3px 17px -4px #6B6B6B;
    -webkit-box-shadow: inset 0px -2px 12px -2px #ABABAB, -6px 3px 17px -4px #6B6B6B;
    -moz-box-shadow: inset 0px -2px 12px -2px #ABABAB, -6px 3px 17px -4px #6B6B6B;
    -o-box-shadow: inset 0px -2px 12px -2px #ABABAB, -6px 3px 17px -4px #6B6B6B;
}

.blocks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blocks a {
    font-size: 1.2em;
    color: #064885;
    text-decoration: none;
}

.blocks a:hover {
    color: #064885;
    text-decoration: underline;
}

div .userimg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}

div .userimg img {
    height: 50px;
    width: 50px;
}

div .usertag {
    display: inline-block;
}

div .usertag a {
    height: 3em;
}

div .clientimg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}

div .clientimg img {
    height: 45px;
    width: 45px;
}

div .clientname {
    display: inline-block;
}

div .clientname a {
    height: 3em;
}

#filter {
    float: left;
    width: 15%;
    height: 25em;
    margin: 0 1% 0 0;
}

#location {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.2em 0;
}

#time {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.2em 0;
}

#bu {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.2em 0;
}

.filtul {
    font-size: 0.9em;
}

.filt {
    margin-left: 1.5em;
}

img.more {
    padding-left: 3em;
}

#foto {
    float: left;
    height: 10em;
    width: 25%;
}

#info {
    float: left;
    height: 10em;
    width: 75%;
}

#tags2 {
    clear: left;
    float: left;
    width: 15%;
    min-height: 25em;
    margin: 1% 1% 0 0;
}

#key {
    float: left;
    width: 50%;
    height: auto;
    margin: 0 0% 1% 0;
}

#personen {
    clear: right;
    float: right;
    width: 27%;
    height: 25em;
    min-height: 20em;
    margin-bottom: 1%;
}

#projects {
    clear: none;
    float: right;
    width: 27%;
    height: 25em;
    min-height: 20em;
}

#companies {
    clear: right;
    float: right;
    width: 27%;
    height: 25em;
    margin-top: 1%;
}

#content {
    clear: none;
    float: left;
    position: relative;
    top: -8em;
    width: 50%;
    height: 55em;
    min-height: 25em;
}

#itemlist .item {
    display: inline-block;
    left: 65em;
    margin: 0 0 2em 1em;
    border-bottom: hsla(0, 0%, 60%, 1) 1px solid;
}

.metablock {
    display: block;
    height: auto;
    margin-bottom: 1em;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.to {
    margin: 0 1em;
    display: inline;
    color: #064885;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
}

.contentblock {
    display: inline-block;
    margin-bottom: 1em;
}

.tagline {
    display: inline-block;
    margin-bottom: 0.5em;
    width: 100%;
}

.tagbutton {
    display: block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 5px;
    float: left;
    padding: 3px;
    text-decoration: none;
    background: #064885;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: verdana;
    font-size: 12px;
}

.commentbutton {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 5px;
    float: right;
    padding: 3px;
    text-decoration: none;
    background: #064885;
    color: #fff;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 4px;
    font-family: verdana;
    font-size: 12px;
}

.addfile {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 5px;
    float: right;
    padding: 3px;
    text-decoration: none;
    background: #064885;
    color: #fff;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: verdana;
    font-size: 12px;
}

.confirmtag {
    display: block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 5px;
    float: right;
    padding: 3px;
    text-decoration: none;
    background: #064885;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: verdana;
    font-size: 12px;
}

.comment {
    margin: 0 0 1.5em 50px;
    display: inline-block;
}

.commentnew {
    margin: 0.2em 0 0.2em 50px;
    display: none;
}

#vonkitem {
    display: none;
}

#broad {
    width: 98%;
}

.commentblock {
    display: inline-block;
    -webkit-border-bottom-right-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.sentcomment {
    display: block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 5px;
    float: right;
    padding: 3px;
    top: -10px;
    text-decoration: none;
    background: #064885;
    color: #fff;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: verdana;
    font-size: 12px;
}

footer {
    font-size: 1.1em;
    font-weight: bold;
    width: 78%;
    height: 6em;
    margin: 0.5em auto;
    color: hsla(0, 0%, 100%, 1);
    background-image: url(../img/edit1.png);
}

.foot {
    float: left;
    display: inline-block;
    width: 21%;
    height: 4em;
    padding: 2%;
    text-align: center;
    color: #064885;
}

.ulfoot {
    list-style-type: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

#long {
    width: 96%;
    height: 2em;
    float: left;
    padding: 0.5em 2% 0;
    background-color: #064885;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    #mainnav {
        background-color: #064885;
    }
    #filter {
        display: none;
    }
    #tags2 {
        display: none;
    }
    nav ul li {
        margin: 0.4em 2%;
    }
    #key {
        width: 65%;
        margin-right: 1%;
    }
    #content {
        width: 65%;
        margin-right: 1%;
        top: 0em;
    }
    #personen {
        clear: none;
        float: right;
        width: 30%;
    }
    #projects {
        clear: right;
        float: right;
        width: 30%;
    }
    #companies {
        clear: right;
        float: right;
        width: 30%;
    }
}

@media screen and (max-width: 1000px) {
    #mainnav {
        background-color: #064885;
    }
    nav ul li {
        margin: 0.4em 1%;
    }
    .blocks ul {
        list-style-type: circle;
        list-style-position: inside;
    }
    .blocks img {
        display: none;
    }
    #key {
        width: 98%;
    }
    #personen {
        float: left;
        clear: right;
        width: 30%;
        height: 25em;
        min-height: 10em;
        margin: 0 1% 1% 0;
    }
    #projects {
        float: left;
        clear: right;
        width: 32%;
        height: 25em;
        min-height: 10em;
        margin: 0 1% 1% 0;
    }
    #companies {
        float: left;
        width: 30%;
        height: 25em;
        min-height: 10em;
        margin: 0 0 1% 0;
    }
    #content {
        width: 98%;
    }
    #foto {
        float: left;
        height: 10em;
        width: 25%;
    }
}

@media screen and (max-width: 900px) {
    #mainnav {
        background-color: #064885;
    }
    .input {
        float: right;
        clear: both;
        margin-bottom: 0.2em;
    }
    #top a {
        display: none;
        visibility: hidden;
    }
    nav ul li {
        margin: 0.4em 0.5%;
    }
}

@media screen and (max-width: 850px) {
    #mainnav {
        background-color: #064885;
    }
    nav #small {
        list-style-type: none;
        position: absolute;
        display: block;
        width: 78%;
        min-width: 40em;
        height: 3em;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        margin: 0.4em 2%;
    }
    nav #full {
        display: none;
    }
}

@media screen and (max-width: 660px) {
    #mainnav {
        background-color: #064885;
    }
}